body, html {
    height: 100%;
}

.bg {
    background-image: url('https://images.hdqwalls.com/download/8-bit-sunrise-mountains-artwork-4k-fg-2560x1440.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 30%;
}

