.title {
  font-size: 80px;
  text-align: center;
  margin-top: 20px;
  color: rgb(194, 194, 194);
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}

h1 {
  text-align: center;
  top: 20px;
}

